version: '3.7'
services:
  birthdayapp_local_postgres:
    container_name: 'birthdayapp_local_postgres'
    image: 'postgres'
    restart: always
    env_file:
      - .env
    ports:
      - '${FRIENDS_DATABASE_PORT}:5432'
    environment:
      POSTGRES_PASSWORD: ${FRIENDS_DATABASE_PASSWORD}
      POSTGRES_USER: ${FRIENDS_DATABASE_USERNAME}
      POSTGRES_DB: ${FRIENDS_DATABASE_NAME}
    volumes:
      - /home/birthdayapp/docker_data/db-data/local:/var/lib/postgresql/data
      - ./scripts/postgres:/docker-entrypoint-initdb.d
    networks:
      - birthdayapp_local_postgres

networks:
  birthdayapp_local_postgres:
    driver: bridge
